In [41]:

import sys
print(sys.version, sys.platform, sys.executable)
from main import get_count_coments
import pickle





with open("group_list.pickle", 'rb') as file:
    lst_us = pickle.load(file)
# print(lst_us)

res = get_count_coments(lst_us)

3.8.10 (default, Jun 22 2022, 20:18:18)
[GCC 9.4.0] linux /media/suvenir/CBC84447972882F5/Програмирование/задания для трудоустройства/psrsing vk/venvnew/bin/python
***** Загрузка постов *****

100%|██████████| 2/2 [01:45<00:00, 52.57s/it]

In [55]:
import  pandas as pd
r = pd.DataFrame(res)
# r.pivot_table(index=['group_id', 'user_id'], values='user_id',  aggfunc='count')
r = r.groupby(['group_id', 'user_id'])[['user_id']].count().reset_index(level=0)
r.rename(columns={'user_id':'count_coments'}, level=0,  inplace=True)
r

             group_id  count_coments
user_id
-135229927  135229927              5
-101744603  135229927              1
 49338486   135229927              1
 55936014   135229927              1
 99463740   135229927              1
 128878022  135229927              1
 142076328  135229927              1
 144062872  135229927              1
 173442304  135229927              1
 343109197  135229927              1
 366368721  135229927              3
 422053987  135229927              1
 482133237  135229927              2
 530513175  135229927              1
 575919998  135229927              1
 722951641  135229927              1
 97994283   194757069              1
 152135321  194757069              1
 161180401  194757069              1
 223544135  194757069              1
 278742231  194757069              2
 336661000  194757069              1
 377647853  194757069              1
 400066476  194757069              1
 408971740  194757069              1
 411939151  194757069              1
 414867718  194757069              1
 463910935  194757069              1
 511300777  194757069              1
 516058613  194757069              1
 524430629  194757069              1
 559367123  194757069              3
 569848458  194757069              1
 573905445  194757069              2
 601687820  194757069              6
 615784462  194757069              1
 634605300  194757069              1
 645805274  194757069              1
 664406322  194757069              1
 669701756  194757069              3
 672486931  194757069              1
 681548524  194757069              1
 681827987  194757069              1
 692591764  194757069              3
 700022866  194757069              1
 706671120  194757069              1
 712257108  194757069              2
 741258971  194757069              1
 741701697  194757069              2
 742811600  194757069              2
 749590524  194757069              1
 753669441  194757069              2
 756688334  194757069              1

In [83]:
with open("users_list.pickle", 'rb') as file:
    users_list = pickle.load(file)

users_list_df = pd.DataFrame(users_list)
users_list_df

,user_id,first_name,last_name,city,country,mobile_phone,home_phone,career,university_name,group_id,group_name
0,1372991,Анатолий,Толкачев,Оренбург,Россия,,,[],,135229927,"АТЦ ""Жигули-Оренбург"""
1,2287437,Денис,Смирнов,Петрозаводск,Россия,,,,,135229927,"АТЦ ""Жигули-Оренбург"""
2,3579328,Екатерина,Каплина,Оренбург,Россия,,,,,135229927,"АТЦ ""Жигули-Оренбург"""
3,3837487,Алексей,Пушкарёв,Оренбург,Россия,89228718882,,"company: No company, position: ФОТОГРАФ",,135229927,"АТЦ ""Жигули-Оренбург"""
4,3888346,Артем,Шабалин,Новотроицк,Россия,89226277350,,"company: No company, position: Программист",ОГТИ (филиал ОГУ),135229927,"АТЦ ""Жигули-Оренбург"""
...,...,...,...,...,...,...,...,...,...,...,...
19955,732826116,Zoe,Morris,,,,,,,194757069,Работа Оренбург
19956,732826133,Olivia,Hull,,,,,,,194757069,Работа Оренбург
19957,732826135,Natalie,Richardson,,,,,,,194757069,Работа Оренбург
19958,732826137,Aubrey,Hanson,,,,,,,194757069,Работа Оренбург
19959,732826142,Evelyn,Jarvis,,,,,,,194757069,Работа Оренбург

In [84]:
users_list_df = users_list_df.merge(r, right_on=['user_id', 'group_id'], left_on=['user_id', 'group_id'], how='left')

In [87]:
users_list_df['profile_url'] = users_list_df['user_id'].apply(lambda x: f'https://vk.com/id{x}') #f'https://vk.com/id{users_list_df[["user_id"]]}'
users_list_df

,user_id,first_name,last_name,city,country,mobile_phone,home_phone,career,university_name,group_id,group_name,count_coments,profile_url
0,1372991,Анатолий,Толкачев,Оренбург,Россия,,,[],,135229927,"АТЦ ""Жигули-Оренбург""",NaN,https://vk.com/id1372991
1,2287437,Денис,Смирнов,Петрозаводск,Россия,,,,,135229927,"АТЦ ""Жигули-Оренбург""",NaN,https://vk.com/id2287437
2,3579328,Екатерина,Каплина,Оренбург,Россия,,,,,135229927,"АТЦ ""Жигули-Оренбург""",NaN,https://vk.com/id3579328
3,3837487,Алексей,Пушкарёв,Оренбург,Россия,89228718882,,"company: No company, position: ФОТОГРАФ",,135229927,"АТЦ ""Жигули-Оренбург""",NaN,https://vk.com/id3837487
4,3888346,Артем,Шабалин,Новотроицк,Россия,89226277350,,"company: No company, position: Программист",ОГТИ (филиал ОГУ),135229927,"АТЦ ""Жигули-Оренбург""",NaN,https://vk.com/id3888346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19955,732826116,Zoe,Morris,,,,,,,194757069,Работа Оренбург,NaN,https://vk.com/id732826116
19956,732826133,Olivia,Hull,,,,,,,194757069,Работа Оренбург,NaN,https://vk.com/id732826133
19957,732826135,Natalie,Richardson,,,,,,,194757069,Работа Оренбург,NaN,https://vk.com/id732826135
19958,732826137,Aubrey,Hanson,,,,,,,194757069,Работа Оренбург,NaN,https://vk.com/id732826137
19959,732826142,Evelyn,Jarvis,,,,,,,194757069,Работа Оренбург,NaN,https://vk.com/id732826142